* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  height: 100vh;
  background-color: #252330;
}

#header {
  display: flex;
  justify-content: space-around;
  background-color: #3B3A4A;
  padding: 15px;
}

#text-header {
  color: #F5F9F8;
}

#navbar-header ul {
  list-style-type: none;
  margin-top: 10px;
}

#navbar-header ul li {
  display: inline;
  margin: 0 15px;
}

#navbar-header ul li a {
  color: #F5F9F8;
  text-decoration: none;
  font-weight: bold;
}

#avatar-ynoydelk img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

#aboutme {
  text-align: justify;
  padding-left: 30px;
}

#first-section {
  margin: 15px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 9px 32px 0 rgba(0, 0, 0, 0.37);
}

#projects-section {
  height: 85vh;
  margin-left: 70px;
  margin-right: 70px;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-image: url(../ASSETS/images/girl-wallpaper.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  border: 2px solid #e8704b;
  box-shadow: 0 9px 32px 0 #e8704b;
  text-align: center;
}

#projects-section img {
  width: 200px;
  border-radius: 14px;
  margin-left: 20px;
}

#text-project {
  font-size: 2em;
  margin-bottom: 50px;
}