@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Young+Serif&display=swap');

:root{
    --agbalumo:"Agbalumo", system-ui;
    --young:"Young Serif", serif;
    --nunito:"Nunito", sans-serif;
    --laranja:#ff6400;
}

*{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-image: url(../imagens/backg03.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header{
    padding: 5px;
    border-radius: 0px 0px 20px 20px;
    background: linear-gradient(to right, #05161A, #072E33);
}

header h1{
    color: var(--laranja);
    text-align: center;
    font-family: var(--agbalumo);
}

main{
    height: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 30px;
    background-color: rgba(253, 114, 0, 0.342);
    backdrop-filter: blur(10px);
    border-radius: 10px;
}

strong{
    color: #fff;
}

img{
    width: 200px;
}

.sobre_mim{
    padding: 15px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 10px;
}

.sobre_mim h1{
    font-family: var(--young);
}

.sobre_mim p{
    font-size: 1.3em;
    font-family: var(--nunito);
}

#projetos{
    padding: 15px;
    border-radius: 20px;
    background-color: white;
}

#projetos p{
    padding-bottom: 25px;
}

#projetos h2{
    font-family: var(--young);
    padding-bottom: 30px;
}

#projetos a{
    font-family: var(--nunito);
    border-radius: 13px;
    padding: 9px;
    text-decoration: none;
    color: #fff;
    background: linear-gradient(to right, #05161A, #072E33);
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
    color: var(--cor0);
}

@media screen and (max-width: 768px) {
    header {
        padding: 10px;
    }

    header h1 {
        font-size: 1.5em;
    }

    main {
        padding: 10px;
    }

    img {
        width: 300px;
    }

    #projetos {
        padding: 10px;
    }

    #projetos p {
        padding-bottom: 15px;
    }
}